.App {
  display: grid;
  grid-template-columns: 1fr auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.level-wrapper {
  max-height: 100vh;
  overflow: scroll;
}
/*
.level-wrapper {
  transform-origin: top left;
  transform: scale(2);
  image-rendering: pixelated;
  width: 128px;
  height: 128px;
  overflow: scroll;
}

.tile-palette-wrapper {
  transform-origin: top left;
  transform: scale(2);
  image-rendering: pixelated;
  width: 256px;
  height: 256px;
  overflow: hidden;
}
*/