.level {
    display: grid;
    grid-template-columns: repeat(64, 16px);
    grid-template-rows: repeat(80, 16px);
    transform-origin: top left;
    transform: scale(2);
    image-rendering: pixelated;
}